<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" routerLink="/">Games</a>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
      >Home <span class="sr-only">(current)</span></a>
      <a class="nav-link" routerLink="/platforms" routerLinkActive="active" >Platforms</a>
      <a class="nav-link" routerLink="/platforms/new-game" routerLinkActive="active" >New game</a>
      <a class="nav-link" routerLink="/platforms/new-platform" routerLinkActive="active">New platform</a>
    </div>
  </div>
</nav>
