<div class="col">
  <h4>Add new platform</h4>
  <form (ngSubmit)="createPlatform()">
    <div class="form-group">
      <label for="name">Name</label>
      <input
        type="text"
        name="name"
        id="name"
        class="form-control"
        [(ngModel)]="name"
      />
    </div>
    <div class="form-group">
      <label for="imageUrl">Image</label>
      <input
        type="text"
        name="imageUrl"
        id="imageUrl"
        class="form-control"
        [(ngModel)]="imgSource"
      />
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea
        name="description"
        id="description"
        class="form-control"
        [(ngModel)]="description"
      ></textarea>
    </div>
    <button
      type="submit"
      class="btn btn-primary"
      [disabled]="getDisabled()"
    >Create
    </button>
  </form>
</div>


