<div class="container">
  <div class="row  pt-2 ">
    <div class="col pr-0">
      <img [src]="game.imageStr" alt="" class="card-img-top" [alt]="game.name">
    </div>
    <div class="col pl-0">
      <div class="card-header">
        <h3 class="card-title">{{ game.name }}</h3>
      </div>
      <div class="card-body">
        <p class="card-text">Platform: <strong>{{ game.platform }}</strong></p>
        <p class="card-text">Description:</p>
        <p class="card-text">{{ game.description }}</p>
      </div>
    </div>
  </div>
</div>

