<div class="card mb-3 mr-2" style="width: 18rem">
  <div class="img-block">
    <img [src]="game.imageStr" [alt]="game.name">
  </div>
  <div class="card-body row flex-column">
    <h5 class="card-title">{{ game.name }}</h5>
    <h6 class="card-subtitle">{{ game.platform }}</h6>
    <hr>
    <p class="card-text">{{ game.description }}</p>
    <a [routerLink]="['/games', game.id]" class="btn btn-primary mt-auto align-self-end mr-4">Go to game</a>
  </div>
</div>
