<div class="col">
  <h4>Games</h4>
  <div class="list-group">
    <a *ngFor="let game of games; let i = index"
       class="list-group-item list-group-item-action"
       [routerLink]="['/games',game.id]"
    > <div class="card" style="width: 18rem;">
      <img [src]="game.imageStr" class="card-img-top" [alt]="game.name">
      <div class="card-body">
        <p class="card-text">{{ game.name }}</p>
      </div>
    </div>
    </a>
  </div>
</div>


