<div class="row m-2">
  <div class="col">
    <h4>Platforms</h4>
    <div class="list-group">
      <a *ngFor="let platform of platforms; let i = index"
         class="list-group-item list-group-item-action"
         [routerLink]="['/platforms', i]"
         routerLinkActive="active"
      >{{ platform.name }}</a>
    </div>
  </div>
  <div class="col">
    <router-outlet></router-outlet>
  </div>
</div>

